.trafficLight {
  width: 120px;
  height: 250px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6px 0;
}

.circle {
  border: solid 1px rgb(100, 99, 99);
  width: 75%;
  height: 30%;
  border-radius: 50%;
}

.red {
  background-color: red;
  height: 100%;
  border-radius: 50%;
}

.orange {
  background-color: orange;
  height: 100%;
  border-radius: 50%;
}

.green {
  background-color: green;
  height: 100%;
  border-radius: 50%;
}